# This Notebook is used to upload data from the email the system send to a MySQL database

In [1]:
# Because we have a large amount of Data to insert, we will use a sqlalchemy as I find it simpler 
from sqlalchemy import create_engine
import pandas as pd

## The following lines are SQL queries to:
- create a user for this project
- Create a Database (if this database doesn't exist yet) for this project and start using it 
- Clean all privileges from the new user and give Privileges only on the database created for this project
- Flush and show the privileges for this user
- And create a Table (if this table doesn't exist yet) for this project

CREATE USER 'pandas_user'@'localhost' identified BY 'TeenageMutanteNinjaPandas1234';

CREATE DATABASE IF NOT EXISTS pandas;

USE PANDAS;

REVOKE ALL PRIVILEGES ON *.* FROM 'pandas_user'@'localhost';

GRANT ALL PRIVILEGES on pandas.* TO 'pandas_user'@'localhost';

FLUSH PRIVILEGES;

SHOW GRANTS FOR 'pandas_user'@'localhost';

CREATE TABLE IF NOT EXISTS sensores_data (
    time varchar(6),
    sensor1 int,
    sensor2 int,
    sensor3 int,
    sensor4 int);
    
 DESC sensores_data;

In [2]:
# The dat from the meail is copy pasted to the variable "raw_data"

raw_data = [['tempo','Sensor 1','Sensor 2','Sensor 3','Sensor 4'],
["290834",798,1109,1328,1237],
["290844",927,1223,1341,1247],
["290854",72,434,1332,1235],
["290904",560,784,1330,1238],
["290914",869,1122,1330,1241],
["290924",240,598,1330,1240],
["290934",165,377,1331,1235],
["290944",225,591,1331,1234],
["290954",932,1232,1230,1133],
["291004",893,1227,1233,1136],
["291014",172,378,1234,1146],
["291024",81,442,1231,1145],
["291034",74,392,1232,1139],
["291044",849,1220,1232,1144],
["291054",837,1212,1225,1136],
["291104",72,435,1226,1151],
["291114",871,1223,1235,1146],
["291124",864,1228,1235,1150],
["291134",103,352,1254,1147],
["291144",62,347,1234,1139],
["291154",106,360,1235,1148],
["291204",344,727,1228,1156],
["291214",52,341,1235,1156],
["291224",147,373,1231,1153],
["291234",932,1215,1230,1148],
["291244",68,345,1225,1153],
["291254",899,1131,1218,1156],
["291304",160,545,1216,1161],
["291314",762,1149,1213,1159],
["291324",158,369,1216,1163],
["291334",290,664,1212,1156],
["291344",814,1194,1216,1155],
["291354",932,1223,1211,1156],
["291404",171,383,1269,1159],
["291414",140,364,1214,1149],
["291424",897,1129,1237,1160],
["291434",85,352,1248,1165],
["291444",859,1202,1244,1158],
["291454",94,359,1241,1151],
["291504",50,341,1244,1159],
["291514",812,1047,1232,1160],
["291524",876,1200,1230,1157],
["291534",835,1080,1221,1159],
["291544",78,346,1219,1160],
["291554",87,350,1215,1154],
["291604",883,1200,1221,1157],
["291614",820,1171,1217,1167],
["291624",70,433,1223,1165],
["291634",915,1209,1215,1165],
["291644",184,387,1222,1156],
["291654",925,1191,1229,1158],
["291704",940,1221,1231,1159],
["291714",782,1006,1231,1153],
["291724",539,773,1232,1165],
["291734",922,1170,1231,1157],
["291744",928,1155,1228,1162],
["291754",144,373,1229,1140],
["291804",832,1176,1231,1144],
["291814",161,381,1224,1147],
["291824",622,983,1234,1154],
["291834",40,393,1230,1155],
["291844",766,993,1228,1142],
["291854",1024,1293,1243,1169],
["291904",839,1068,1243,1195],
["291914",896,1322,1233,1188],
["291924",125,530,1248,1181],
["291934",1017,1359,1254,1184],
["291944",186,375,1240,1191],
["291954",15,383,1240,1186],
["292004",980,1352,1212,1183],
["292014",207,383,1215,1187],
["292024",177,368,1234,1180],
["292034",167,573,1224,1185],
["292044",124,341,1215,1169],
["292054",1004,1246,1232,1179],
["292104",979,1332,1239,1193],
["292114",865,1298,1237,1189],
["292124",93,492,1238,1181],
["292134",34,348,1253,1195],
["292144",1013,1349,1245,1168],
["292154",408,626,1248,1189],
["292204",980,1217,1258,1195],
["292214",21,375,1254,1189],
["292224",22,355,1245,1186],
["292234",847,1210,1260,1187],
["292244",43,325,1248,1190],
["292254",227,404,1249,1197],
["292304",977,1337,1259,1198],
["292314",867,1280,1259,1198],
["292324",564,941,1261,1191],
["292334",992,1329,1264,1198],
["292344",1072,1354,1271,1201],
["292354",991,1213,1270,1204],
["300004",1064,1313,1273,1216],
["300014",148,369,1270,1206],
["300024",230,417,1281,1203],
["300034",865,1089,1281,1203],
["300044",39,408,1286,1204],
["300054",233,416,1287,1218],
["300104",1032,1347,1287,1212],
["300114",53,340,1286,1211],
["300124",112,353,1283,1210],
["300134",49,349,1279,1215],
["300144",1057,1348,1290,1213],
["300154",480,697,1290,1218],
["300204",439,839,1285,1216],
["300214",1057,1342,1287,1212],
["300224",45,319,1257,1191],
["300234",968,1337,1289,1223],
["300244",524,918,1284,1219],
["300254",196,395,1276,1201],
["300304",787,1048,1284,1218],
["300314",1020,1364,1294,1220],
["300324",1055,1295,1293,1224],
["300334",205,398,1288,1222],
["300344",836,1281,1268,1198],
["300354",64,430,1288,1222],
["300404",74,333,1312,1224],
["300414",596,981,1288,1226],
["300424",1041,1368,1294,1223],
["300434",1042,1306,1299,1220],
["300444",94,346,1300,1232],
["300454",1041,1360,1295,1225],
["300504",999,1350,1287,1221],
["300514",1037,1300,1290,1218],
["300524",855,1280,1291,1216],
["300534",275,511,1293,1226],
["300544",1051,1313,1294,1224]]

In [3]:
# Create a dataframe with the raw_data for easier upload to the database
pd_data = pd.DataFrame(data=raw_data[1:],columns=[column.replace(" ", "") for column in raw_data[0]])

In [4]:
# Create a SQLAlchemy engine to connect to the MySQL database for this project
engine = create_engine("mysql+mysqlconnector://pandas_user:TeenageMutanteNinjaPandas1234@localhost/pandas")

In [7]:
# Convert the Pandas DataFrame to a format for MySQL table insertion and sent it
pd_data.to_sql('sensores_data', con=engine, if_exists='append', index=False)

128