In [1]:
from mysql import connector
import pandas as pd

## The following lines a SQL queries to:
- create a user for this project
- Create a Database (if this database doesn't exist yet) for this project and start using it 
- Clean all privileges from the new user and give Privileges only on the database created for this project
- Flush and show the privileges for this user
- And create a Table (if this table doesn't exist yet) for this project

CREATE USER 'pandas_user'@'localhost' identified BY 'TeenageMutanteNinjaPandas1234';

CREATE DATABASE IF NOT EXISTS pandas;

USE PANDAS;

REVOKE ALL PRIVILEGES ON *.* FROM 'pandas_user'@'localhost';

GRANT ALL PRIVILEGES on pandas.* TO 'pandas_user'@'localhost';

FLUSH PRIVILEGES;

SHOW GRANTS FOR 'pandas_user'@'localhost';

CREATE TABLE IF NOT EXISTS sensores_data (
    time varchar(6),
    sensor1 int,
    sensor2 int,
    sensor3 int,
    sensor4 int);
    
 DESC sensores_data;

In [2]:
# mydb = connector.connect(
#   host="localhost",
#   user="pandas_user",
#   password="TeenageMutanteNinjaPandas1234",
#   database="pandas"
# )

In [3]:
# mycursor = mydb.cursor()
# mycursor.execute("""CREATE TABLE IF NOT EXISTS sensores_data (tempo varchar(10) UNIQUE,
#  sensor1 int,
#  sensor2 int,
#  sensor3 int,
#  sensor4 int);""")

In [4]:
raw_data = [['tempo','Sensor 1','Sensor 2','Sensor 3','Sensor 4'],
["271354",130,363,1168,1144],
["271404",151,381,1155,1154],
["271414",113,361,1185,1140],
["271424",136,368,1167,1141],
["271434",427,771,1208,1140],
["271444",69,429,1259,1144],
["271454",788,1008,1258,1137],
["271504",1037,1286,1257,1139],
["271514",999,1275,1209,1137],
["271524",874,1218,1210,1141],
["271534",586,800,1245,1140],
["271544",623,944,1240,1144],
["271554",706,918,1265,1148],
["271604",1060,1286,1261,1139],
["271614",732,1045,1263,1141],
["271624",1051,1241,1267,1146],
["271634",834,1034,1271,1146],
["271644",959,1256,1173,1154],
["271654",1017,1273,1229,1152],
["271704",16,320,1250,1153],
["271714",310,664,1232,1144],
["271724",433,661,1228,1151],
["271734",53,338,1229,1146],
["271744",110,365,1229,1148],
["271754",571,897,1237,1144],
["271804",696,909,1232,1145],
["271814",93,347,1234,1141],
["271824",238,586,1235,1148],
["271834",19,346,1231,1150],
["271844",578,796,1232,1152],
["271854",19,393,1227,1150],
["271904",42,321,1233,1146],
["271914",941,1261,1234,1147],
["271924",92,358,1234,1146],
["271934",1103,1332,1241,1145],
["271944",1068,1318,1242,1140],
["271954",395,637,1238,1144],
["272004",190,411,1244,1151],
["272014",1105,1307,1242,1150],
["272024",1058,1305,1241,1144],
["272034",21,324,1241,1153],
["272044",882,1245,1237,1139],
["272054",938,1253,1238,1138],
["272104",82,356,1238,1154],
["272114",209,417,1233,1142],
["272124",217,427,1242,1145],
["272134",563,780,1233,1144],
["272144",949,1257,1235,1142],
["272154",209,418,1235,1142],
["272204",1013,1298,1235,1149],
["272214",628,860,1241,1153],
["272224",941,1138,1235,1149],
["272234",237,487,1240,1148],
["272244",1107,1319,1236,1143],
["272254",1051,1247,1239,1152],
["272304",120,374,1245,1146],
["272314",959,1263,1240,1147],
["272324",915,1244,1239,1156],
["272334",939,1257,1242,1152],
["272344",1045,1302,1242,1153],
["272354",657,884,1286,1149],
["280004",834,1055,1237,1154],
["280014",1028,1280,1243,1159],
["280024",733,1043,1241,1156],
["280034",630,849,1243,1155],
["280044",144,389,1256,1162],
["280054",195,548,1242,1159],
["280104",816,1104,1242,1159],
["280114",149,386,1243,1162],
["280124",785,1086,1243,1155],
["280134",916,1129,1242,1160],
["280144",963,1262,1248,1162],
["280154",151,397,1262,1174],
["280204",236,460,1249,1151],
["280214",193,407,1247,1155],
["280224",122,457,1247,1167],
["280234",918,1239,1261,1168],
["280244",1022,1282,1247,1173],
["280254",631,942,1248,1163],
["280304",874,1089,1247,1168],
["280314",210,418,1256,1168],
["280324",315,664,1246,1168],
["280334",1027,1259,1252,1164],
["280344",51,374,1265,1168],
["280354",953,1253,1268,1172],
["280404",979,1190,1268,1167],
["280414",911,1232,1265,1172],
["280424",895,1224,1271,1166],
["280434",517,835,1266,1171],
["280444",693,1003,1268,1167],
["280454",480,813,1265,1171],
["280504",892,1223,1266,1169],
["280514",57,376,1266,1170],
["280524",118,370,1246,1156],
["280534",111,368,1262,1168],
["280544",323,565,1268,1170],
["280554",939,1251,1267,1152],
["280604",152,395,1283,1188],
["280614",168,392,1263,1174],
["280624",692,1019,1265,1169],
["280634",64,364,1267,1175],
["280644",63,426,1273,1191],
["280654",1019,1235,1267,1161],
["280704",108,451,1268,1173],
["280714",727,1038,1264,1169],
["280724",61,374,1289,1184],
["280734",944,1245,1248,1148],
["280744",708,1024,1269,1175],
["280754",491,717,1272,1176],
["280804",53,368,1265,1178],
["280814",818,1130,1269,1175],
["280824",929,1253,1267,1181],
["280834",840,1165,1274,1174],
["280844",146,372,1270,1179],
["280854",297,654,1271,1175],
["280904",973,1280,1269,1176],
["280914",1021,1274,1273,1177],
["280924",1025,1296,1271,1184],
["280934",919,1283,1277,1182],
["280944",967,1287,1272,1190],
["280954",590,784,1240,1139],
["281004",1065,1299,1239,1155],
["281014",152,373,1242,1154],
["281024",73,351,1244,1153],
["281034",739,1069,1248,1153],
["281044",47,381,1255,1159],
["281054",26,367,1248,1154],
["281104",17,392,1248,1153]]

In [5]:
pd_data = pd.DataFrame(data=raw_data[1:],columns=[column.replace(" ", "") for column in raw_data[0]])

In [6]:
# Because we have a large amount of Data to insert, we will use a sqlalchemy as I find it simpler 
from sqlalchemy import create_engine


# Create a SQLAlchemy engine to connect to the MySQL database for this project
engine = create_engine("mysql+mysqlconnector://pandas_user:TeenageMutanteNinjaPandas1234@localhost/pandas")

In [7]:
# Convert the Pandas DataFrame to a format for MySQL table insertion and sent it
pd_data.to_sql('sensores_data', con=engine, if_exists='append', index=False)

128