In [1]:
from mysql import connector
import pandas as pd

## The following lines a SQL queries to:
- create a user for this project
- Create a Database (if this database doesn't exist yet) for this project and start using it 
- Clean all privileges from the new user and give Privileges only on the database created for this project
- Flush and show the privileges for this user
- And create a Table (if this table doesn't exist yet) for this project

CREATE USER 'pandas_user'@'localhost' identified BY 'TeenageMutanteNinjaPandas1234';

CREATE DATABASE IF NOT EXISTS pandas;

USE PANDAS;

REVOKE ALL PRIVILEGES ON *.* FROM 'pandas_user'@'localhost';

GRANT ALL PRIVILEGES on pandas.* TO 'pandas_user'@'localhost';

FLUSH PRIVILEGES;

SHOW GRANTS FOR 'pandas_user'@'localhost';

CREATE TABLE IF NOT EXISTS sensores_data (
    time varchar(6),
    sensor1 int,
    sensor2 int,
    sensor3 int,
    sensor4 int);
    
 DESC sensores_data;

In [2]:
# mydb = connector.connect(
#   host="localhost",
#   user="pandas_user",
#   password="TeenageMutanteNinjaPandas1234",
#   database="pandas"
# )

In [3]:
# mycursor = mydb.cursor()
# mycursor.execute("""CREATE TABLE IF NOT EXISTS sensores_data (tempo varchar(10) UNIQUE,
#  sensor1 int,
#  sensor2 int,
#  sensor3 int,
#  sensor4 int);""")

In [4]:
raw_data = [['tempo','Sensor 1','Sensor 2','Sensor 3','Sensor 4'],
["220917",976,1281,1412,1261],
["220927",883,1248,1415,1259],
["220937",971,1266,1416,1258],
["220947",766,1103,1385,1261],
["220957",933,1179,1430,1201],
["221007",26,315,1425,1211],
["221017",281,526,1419,1217],
["221027",1072,1333,1411,1207],
["221037",36,311,1411,1215],
["221047",768,1104,1401,1210],
["221057",913,1271,1406,1213],
["221107",264,645,1400,1214],
["221117",888,1261,1409,1224],
["221127",1021,1333,1408,1217],
["221137",887,1269,1411,1218],
["221147",336,725,1419,1218],
["221157",157,528,1408,1224],
["221207",941,1275,1400,1245],
["221217",657,1008,1410,1211],
["221227",55,407,1405,1214],
["221237",946,1286,1410,1222],
["221247",112,344,1406,1221],
["221257",1035,1289,1410,1232],
["221307",195,395,1407,1224],
["221317",12,358,1412,1230],
["221327",173,545,1409,1218],
["221337",694,1047,1410,1226],
["221347",901,1268,1409,1225],
["221357",892,1273,1411,1231],
["221407",682,912,1411,1223],
["221417",71,438,1412,1225],
["221427",90,333,1407,1226],
["221437",969,1310,1412,1223],
["221447",644,1016,1414,1221],
["221457",0,348,1405,1221],
["221507",1053,1340,1413,1226],
["221517",137,363,1411,1217],
["221527",209,408,1408,1226],
["221537",8,358,1408,1216],
["221547",206,397,1408,1224],
["221557",137,357,1408,1219],
["221607",948,1301,1411,1219],
["221617",1025,1333,1408,1216],
["221627",1061,1353,1409,1223],
["221637",14,354,1406,1218],
["221647",176,384,1407,1221],
["221657",107,482,1406,1217],
["221707",0,349,1405,1216],
["221717",1037,1338,1406,1214],
["221727",312,556,1398,1215],
["221737",484,859,1402,1220],
["221747",164,373,1400,1206],
["221757",768,999,1399,1216],
["221807",886,1255,1399,1217],
["221817",901,1273,1405,1223],
["221827",106,336,1399,1222],
["221837",101,347,1407,1218],
["221847",728,958,1402,1210],
["221857",1087,1364,1406,1218],
["221907",515,735,1403,1219],
["221917",160,375,1403,1220],
["221927",292,660,1402,1220],
["221937",14,378,1405,1223],
["221947",224,418,1402,1221],
["221957",560,931,1405,1208],
["222007",478,710,1404,1225],
["222017",234,596,1404,1228],
["222027",30,311,1404,1218],
["222037",569,926,1405,1224],
["222047",1045,1271,1412,1230],
["222057",304,552,1402,1222],
["222107",946,1181,1404,1231],
["222117",152,370,1402,1228],
["222127",904,1281,1389,1209],
["222137",839,1214,1404,1224],
["222147",109,349,1404,1222],
["222157",13,378,1401,1226],
["222207",337,696,1405,1230],
["222217",44,314,1407,1231],
["222227",174,383,1404,1220],
["222237",286,642,1402,1226],
["222247",987,1312,1404,1232],
["222257",1090,1356,1415,1236],
["222307",668,1010,1407,1229],
["222317",232,428,1407,1230],
["222327",216,417,1406,1231],
["222337",1083,1367,1407,1227],
["222347",180,391,1404,1229],
["222357",610,848,1407,1230],
["230007",1091,1350,1407,1231],
["230017",1086,1325,1411,1233],
["230027",185,400,1410,1234],
["230037",78,329,1409,1227],
["230047",1078,1324,1412,1238],
["230057",20,360,1411,1237],
["230107",84,447,1409,1235],
["230117",937,1289,1412,1247],
["230127",1073,1366,1418,1243],
["230137",1042,1348,1414,1238],
["230147",1087,1307,1414,1242],
["230157",32,343,1412,1238],
["230207",941,1292,1413,1248],
["230217",992,1322,1418,1243],
["230227",1092,1345,1414,1244],
["230237",912,1277,1416,1244],
["230247",168,389,1411,1248],
["230257",857,1236,1414,1243],
["230307",917,1271,1413,1246],
["230317",192,536,1414,1250],
["230327",1033,1332,1418,1245],
["230337",205,407,1415,1245],
["230347",1075,1351,1413,1244],
["230357",183,391,1420,1255],
["230407",123,366,1414,1250],
["230417",510,745,1416,1247],
["230427",910,1269,1413,1251],
["230437",74,347,1424,1264],
["230447",298,647,1419,1252],
["230457",1095,1330,1420,1262],
["230507",597,946,1421,1254],
["230517",1103,1322,1422,1257],
["230527",906,1264,1420,1260],
["230537",34,337,1419,1265],
["230547",1090,1336,1420,1251],
["230557",1078,1358,1424,1264],
["230607",643,875,1421,1267],
["230617",662,988,1424,1264],
["230627",979,1314,1424,1263]]

In [5]:
pd_data = pd.DataFrame(data=raw_data[1:],columns=[column.replace(" ", "") for column in raw_data[0]])

In [6]:
# Because we have a large amount of Data to insert, we will use a sqlalchemy as I find it simpler 
from sqlalchemy import create_engine


# Create a SQLAlchemy engine to connect to the MySQL database for this project
engine = create_engine("mysql+mysqlconnector://pandas_user:TeenageMutanteNinjaPandas1234@localhost/pandas")

In [7]:
# Convert the Pandas DataFrame to a format for MySQL table insertion and sent it
pd_data.to_sql('sensores_data', con=engine, if_exists='append', index=False)

128