# This Notebook is used to upload data from the email the system send to a MySQL database

In [1]:
# Because we have a large amount of Data to insert, we will use a sqlalchemy as I find it simpler 
from sqlalchemy import create_engine
import pandas as pd

## The following lines are SQL queries to:
- create a user for this project
- Create a Database (if this database doesn't exist yet) for this project and start using it 
- Clean all privileges from the new user and give Privileges only on the database created for this project
- Flush and show the privileges for this user
- And create a Table (if this table doesn't exist yet) for this project

CREATE USER 'pandas_user'@'localhost' identified BY 'TeenageMutanteNinjaPandas1234';

CREATE DATABASE IF NOT EXISTS pandas;

USE PANDAS;

REVOKE ALL PRIVILEGES ON *.* FROM 'pandas_user'@'localhost';

GRANT ALL PRIVILEGES on pandas.* TO 'pandas_user'@'localhost';

FLUSH PRIVILEGES;

SHOW GRANTS FOR 'pandas_user'@'localhost';

CREATE TABLE IF NOT EXISTS sensores_data (
    time varchar(10),
    sensor1 int,
    sensor2 int,
    sensor3 int,
    sensor4 int);
    
 DESC sensores_data;
 
### Update on the database for the tempo variable increase added in the lastest firmware that now includes the year and month

<span style="color:red">**If you started this project now this entire part is unnecessary!**</span>


First we need to alter the tempo column so the size can include both yy and mm

ALTER TABLE sensores_data
MODIFY COLUMN tempo varchar(10) UNIQUE;


Now, because we are dealing with a lot of data we don't want to mess up, we will start by starting a transaction so we can quickly revert accidental changes. Then we select the data we want to change first to make sure we don't change any extra data and apply the UPDATE. Use the "ROLLBACK;" in case of error. In my case the month change happened between the days 3 and 6, so I used the 5 as a cutoff between May (day > 5) and June (day <5)

START transaction; 
    SELECT * from sensores_data 
    WHERE (length(tempo) = 6 AND CAST(SUBSTRING(tempo, 1, 2) AS UNSIGNED)>05);

UPDATE sensores_data Set tempo = concat('2405',tempo) 
    WHERE (length(tempo) >=6 AND CAST(SUBSTRING(tempo, 1, 2) AS UNSIGNED)>05);

SELECT * from sensores_data;

SELECT * from sensores_data 
    WHERE (length(tempo) = 6 AND CAST(SUBSTRING(tempo, 1, 2) AS UNSIGNED)<05);
    
UPDATE sensores_data Set tempo = concat('2406',tempo) 
    WHERE (length(tempo) >=6 AND CAST(SUBSTRING(tempo, 1, 2) AS UNSIGNED)<05);


SELECT SUBSTRING(tempo, 1, 6) AS md  from sensores_data group by md;
-- rollback;
COMMIT;

In [2]:
# The dat from the meail is copy pasted to the variable "raw_data"

raw_data = [['tempo','Sensor 1','Sensor 2','Sensor 3','Sensor 4'],
["240604185",926,1282,1567,1572],
["240604190",0,329,1580,1583],
["240604191",1029,1237,1582,1588],
["240604192",0,349,1579,1584],
["240604193",131,489,1584,1584],
["240604194",224,413,1582,1577],
["240604195",1090,1366,1582,1583],
["240604200",148,370,1579,1583],
["240604201",100,341,1582,1584],
["240604202",1149,1393,1584,1590],
["240604203",256,439,1576,1585],
["240604204",892,1262,1597,1581],
["240604205",949,1290,1584,1586],
["240604210",0,326,1583,1578],
["240604211",1090,1290,1583,1583],
["240604212",249,440,1586,1578],
["240604213",928,1288,1584,1585],
["240604214",900,1268,1584,1585],
["240604215",1008,1325,1582,1587],
["240604220",0,327,1583,1585],
["240604221",11,328,1584,1584],
["240604222",984,1314,1584,1584],
["240604223",160,380,1575,1588],
["240604224",0,336,1586,1585],
["240604225",1049,1358,1586,1588],
["240604230",1060,1354,1586,1585],
["240604231",1064,1360,1589,1588],
["240604232",182,563,1592,1589],
["240604233",0,367,1590,1588],
["240604234",255,443,1589,1591],
["240604235",31,320,1589,1593],
["240605000",261,440,1596,1594],
["240605001",1141,1370,1596,1592],
["240605002",214,590,1594,1595],
["240605003",1039,1260,1597,1592],
["240605004",757,1113,1596,1595],
["240605005",1171,1444,1600,1590],
["240605010",993,1365,1600,1598],
["240605011",986,1235,1600,1594],
["240605012",130,373,1601,1599],
["240605013",874,1289,1601,1599],
["240605014",875,1144,1607,1601],
["240605015",257,444,1602,1602],
["240605020",972,1365,1602,1604],
["240605021",1075,1413,1607,1601],
["240605022",455,816,1605,1600],
["240605023",94,338,1604,1601],
["240605024",58,445,1607,1601],
["240605025",305,552,1614,1603],
["240605030",49,317,1610,1605],
["240605031",774,1139,1614,1605],
["240605032",1068,1408,1613,1604],
["240605033",817,1167,1614,1600],
["240605034",917,1321,1614,1605],
["240605035",4,334,1617,1608],
["240605040",263,446,1615,1607],
["240605041",704,1080,1619,1612],
["240605042",1059,1397,1622,1616],
["240605043",91,445,1618,1609],
["240605044",397,636,1621,1610],
["240605045",1175,1428,1621,1607],
["240605050",1067,1405,1620,1610],
["240605051",511,738,1626,1609],
["240605052",269,462,1619,1612],
["240605053",76,320,1623,1610],
["240605054",924,1308,1624,1609],
["240605055",62,322,1628,1612],
["240605060",230,426,1626,1616],
["240605061",1169,1445,1625,1615],
["240605062",614,964,1629,1614],
["240605063",180,397,1632,1613],
["240605064",234,440,1632,1613],
["240605065",1009,1274,1633,1615],
["240605070",1119,1390,1632,1616],
["240605071",949,1212,1633,1614],
["240605072",490,733,1634,1614],
["240605073",1134,1447,1638,1617],
["240605074",358,726,1636,1615],
["240605075",69,395,1638,1617],
["240605080",141,374,1635,1615],
["240605081",1056,1399,1641,1616],
["240605082",368,729,1634,1616],
["240605083",257,456,1641,1617],
["240605084",679,926,1640,1620],
["240605085",49,315,1638,1620],
["240605090",370,721,1647,1623],
["240605091",1138,1438,1644,1620],
["240605092",60,314,1646,1621],
["240605093",1131,1439,1646,1625],
["240605094",648,881,1648,1626],
["240605095",1062,1422,1394,1262],
["240605100",915,1329,1439,1294],
["240605101",220,416,1483,1307],
["240605102",268,532,1520,1328],
["240605103",264,454,1548,1331],
["240605104",17,299,1548,1337],
["240605105",967,1345,1548,1352],
["240605110",820,1193,1525,1331],
["240605111",100,456,1541,1360],
["240605112",200,400,1555,1374],
["240605113",558,952,1553,1379],
["240605114",266,465,1558,1371],
["240605115",1062,1414,1554,1365],
["240605120",965,1352,1564,1377],
["240605121",90,333,1554,1395],
["240605122",235,429,1562,1393],
["240605123",1126,1452,1556,1418],
["240605124",0,276,1568,1436],
["240605125",156,363,1550,1418],
["240605130",1029,1393,1568,1430],
["240605131",5,266,1580,1439],
["240605132",244,435,1568,1422],
["240605133",818,1070,1569,1418],
["240605134",1095,1374,1574,1423],
["240605135",1142,1434,1568,1407],
["240605140",1164,1441,1566,1431],
["240605141",378,793,1574,1447],
["240605142",216,412,1564,1435],
["240605143",0,274,1563,1435],
["240605144",78,317,1554,1427],
["240605145",1166,1451,1562,1429],
["240605150",826,1239,1556,1436],
["240605151",908,1178,1555,1425],
["240605152",111,340,1559,1420],
["240605153",257,454,1530,1408],
["240605154",417,659,1552,1432],
["240605155",209,409,1551,1426],
["240605160",77,316,1553,1432]]

In [3]:
# Create a dataframe with the raw_data for easier upload to the database
pd_data = pd.DataFrame(data=raw_data[1:],columns=[column.replace(" ", "") for column in raw_data[0]])

In [4]:
# Create a SQLAlchemy engine to connect to the MySQL database for this project
engine = create_engine("mysql+mysqlconnector://pandas_user:TeenageMutanteNinjaPandas1234@localhost/pandas")

In [5]:
# Convert the Pandas DataFrame to a format for MySQL table insertion and sent it
pd_data.to_sql('sensores_data', con=engine, if_exists='append', index=False)

128