# This Notebook is used to upload data from the email the system send to a MySQL database

In [1]:
# Because we have a large amount of Data to insert, we will use a sqlalchemy as I find it simpler 
from sqlalchemy import create_engine
import pandas as pd

## The following lines are SQL queries to:
- create a user for this project
- Create a Database (if this database doesn't exist yet) for this project and start using it 
- Clean all privileges from the new user and give Privileges only on the database created for this project
- Flush and show the privileges for this user
- And create a Table (if this table doesn't exist yet) for this project

CREATE USER 'pandas_user'@'localhost' identified BY 'TeenageMutanteNinjaPandas1234';

CREATE DATABASE IF NOT EXISTS pandas;

USE PANDAS;

REVOKE ALL PRIVILEGES ON *.* FROM 'pandas_user'@'localhost';

GRANT ALL PRIVILEGES on pandas.* TO 'pandas_user'@'localhost';

FLUSH PRIVILEGES;

SHOW GRANTS FOR 'pandas_user'@'localhost';

CREATE TABLE IF NOT EXISTS sensores_data (
    time varchar(6),
    sensor1 int,
    sensor2 int,
    sensor3 int,
    sensor4 int);
    
 DESC sensores_data;

In [2]:
# The dat from the meail is copy pasted to the variable "raw_data"

raw_data = [['tempo','Sensor 1','Sensor 2','Sensor 3','Sensor 4'],
["300554",1033,1300,1292,1226],
["300604",859,1113,1304,1230],
["300614",647,871,1294,1224],
["300624",49,346,1298,1231],
["300634",1051,1348,1299,1232],
["300644",1044,1369,1310,1235],
["300654",1009,1359,1306,1230],
["300704",559,779,1304,1230],
["300714",1043,1367,1301,1234],
["300724",872,1303,1308,1236],
["300734",47,381,1298,1232],
["300744",31,367,1305,1231],
["300754",1012,1292,1304,1237],
["300804",236,614,1298,1230],
["300814",1022,1299,1302,1237],
["300824",828,1096,1305,1232],
["300834",130,357,1297,1233],
["300844",414,834,1304,1205],
["300854",876,1145,1308,1217],
["300904",931,1314,1301,1214],
["300914",943,1208,1302,1216],
["300924",43,415,1303,1209],
["300934",81,344,1312,1220],
["300944",498,722,1307,1211],
["300954",741,982,1238,1112],
["301004",208,398,1251,1142],
["301014",166,372,1264,1151],
["301024",844,1082,1256,1147],
["301034",946,1213,1254,1150],
["301044",148,363,1256,1141],
["301054",185,383,1256,1148],
["301104",871,1284,1255,1151],
["301114",38,351,1254,1145],
["301124",132,364,1256,1151],
["301134",39,332,1256,1152],
["301144",824,1265,1234,1129],
["301154",17,393,1259,1147],
["301204",96,342,1261,1153],
["301214",620,836,1255,1153],
["301224",932,1231,1270,1168],
["301234",991,1338,1265,1162],
["301244",969,1315,1270,1165],
["301254",793,1248,1266,1159],
["301304",946,1231,1268,1166],
["301314",505,934,1263,1160],
["301324",184,375,1268,1155],
["301334",202,389,1272,1159],
["301344",841,1269,1272,1166],
["301354",764,1205,1272,1162],
["301404",72,449,1267,1159],
["301414",895,1289,1281,1161],
["301424",188,376,1286,1160],
["301434",191,385,1281,1150],
["301444",91,331,1283,1164],
["301454",857,1284,1282,1159],
["301504",914,1191,1284,1162],
["301514",989,1273,1281,1159],
["301524",876,1308,1282,1160],
["301534",955,1351,1279,1160],
["301544",31,327,1277,1159],
["301554",186,600,1261,1145],
["301604",826,1293,1172,1153],
["301614",998,1294,1424,1156],
["301624",970,1347,1214,1158],
["301634",948,1318,1199,1165],
["301644",288,668,885,1154],
["301654",65,334,1207,1168],
["301704",195,397,1243,1165],
["301714",21,370,1084,1163],
["301724",816,1265,1057,1158],
["301734",22,374,917,1142],
["301744",537,952,885,1160],
["301754",813,1257,1257,1169],
["301804",938,1203,1254,1169],
["301814",564,791,1263,1170],
["301824",183,373,1266,1156],
["301834",36,327,1265,1156],
["301844",415,641,1263,1164],
["301854",200,383,1267,1161],
["301904",944,1341,1267,1158],
["301914",21,317,1264,1164],
["301924",1007,1308,1267,1165],
["301934",92,337,1266,1154],
["301944",991,1308,1266,1158],
["301954",33,388,1268,1160],
["302004",609,1022,1267,1156],
["302014",17,324,1261,1149],
["302024",107,344,1267,1153],
["302034",243,646,1268,1157],
["302044",908,1176,1276,1165],
["302054",977,1325,1269,1155],
["302104",195,388,1269,1157],
["302114",935,1328,1270,1154],
["302124",969,1312,1251,1134],
["302134",74,453,1270,1152],
["302144",88,479,1279,1155],
["302154",188,385,1276,1157],
["302204",754,1168,1278,1159],
["302214",969,1251,1280,1161],
["302224",221,409,1279,1165],
["302234",956,1316,1282,1164],
["302244",122,358,1278,1159],
["302254",803,1244,1278,1158],
["302304",56,351,1277,1159],
["302314",73,442,1281,1161],
["302324",881,1271,1281,1162],
["302334",265,655,1280,1156],
["302344",542,761,1280,1164],
["302354",241,466,1282,1167],
["310004",957,1293,1282,1159],
["310014",953,1263,1284,1156],
["310024",80,346,1285,1163],
["310034",703,947,1291,1162],
["310044",867,1259,1284,1163],
["310054",228,615,1285,1165],
["310104",67,387,1290,1162],
["310114",213,407,1289,1167],
["310124",89,461,1288,1160],
["310134",960,1269,1292,1167],
["310144",754,1001,1289,1163],
["310154",83,351,1287,1166],
["310204",450,844,1290,1164],
["310214",98,360,1290,1166],
["310224",527,924,1290,1170],
["310234",130,370,1292,1171],
["310244",954,1286,1267,1148],
["310254",555,783,1291,1168],
["310304",778,1211,1295,1168]]

In [3]:
# Create a dataframe with the raw_data for easier upload to the database
pd_data = pd.DataFrame(data=raw_data[1:],columns=[column.replace(" ", "") for column in raw_data[0]])

In [4]:
# Create a SQLAlchemy engine to connect to the MySQL database for this project
engine = create_engine("mysql+mysqlconnector://pandas_user:TeenageMutanteNinjaPandas1234@localhost/pandas")

In [5]:
# Convert the Pandas DataFrame to a format for MySQL table insertion and sent it
pd_data.to_sql('sensores_data', con=engine, if_exists='append', index=False)

128